body { --theme-color: #b12526; }
/* this var interacts with vue.css */
img { max-height: 90vh; }

/* cover page */
section.cover img[data-origin*=logo] { max-width: 40vh; }
section.cover p { padding-top: 14vh; }
section.cover p code {
  font-size: 14px;

  background: #eee;
  padding: 0px 4px;
  border: 1px solid #999;
  border-radius: 4px;
}

/* pagination */
.docsify-pagination-container { height: 2rem !important; }
.docsify-pagination-container .pagination-item-label { margin-top: 5px; }
.docsify-pagination-container .pagination-item-title { display: none; }


/* mermaid */
.mermaid .default rect { fill: #e953da !important; stroke-width: 0 !important; }
.mermaid .default .label { color: white !important; }


.mermaid .edgePath path { stroke: #142f48 !important; }

.mermaid .root rect { fill: #4c44cf !important; stroke-width: 0 !important; }
.mermaid .root .label { color: white !important; }

/* sidebar */
.sidebar {
  padding-top: 34px;

  --sidebar-font-size: 18px;
  font-size: var(--sidebar-font-size);
}
.sidebar-nav > ul > li {
  margin-left: 30px;
}

.sidebar-nav > ul > li > p > a {
  font-weight: 700;
}
.sidebar-nav ul li a {
  font-size: var(--sidebar-font-size);
}
.sidebar-nav ul li.level-2 ul li a {
  font-size: 14px;
  /* letter-spacing: 1px; */
}
.sidebar-nav ul li.open.folder > p > a {
  font-weight: 700;
}
.sidebar-nav ul li .open > a {
  font-weight: 700;
  color: var(--theme-color);
}

/* adapted from docsify-sidebar-collapse/dist/sidebar.min.css */
.sidebar-nav li {
  position: relative;
  margin: 0;
  cursor: pointer;
}
.sidebar-nav ul:not(.app-sub-sidebar) > li:not(.file)::before {
  content: '';
  display: block;
  position: absolute;

  top: calc(0.75 * var(--sidebar-font-size));
  left: calc(-1 * var(--sidebar-font-size));
  height: calc(0.4 * var(--sidebar-font-size));
  width: calc(0.4 * var(--sidebar-font-size));

  /* top: 11px; */
  /* left: -12px; */
  /* height: 6px; */
  /* width: 6px; */

  border-right: 2px solid #505d6b;
  border-bottom: 2px solid #505d6b;
  transform: rotate(-45deg);
  transition: transform 0s;
}
.sidebar-nav ul:not(.app-sub-sidebar) > li.open::before {
  transform: rotate(45deg);
  left: calc(-0.9 * var(--sidebar-font-size));

  border-right-color: var(--theme-color);
  border-bottom-color: var(--theme-color);
}
.sidebar-nav ul:not(.app-sub-sidebar) > li.collapse::before {
  transform: rotate(-45deg);
}
